:root {
    --primary-color: #cbeded;
    --primaryy-color: #5fa5a5;
    --secondary-color: #F7F8FA;
    --text-color: #707070;
    --background-color: white;
    --hover-background-color: #4e4e6e;
    --logout-background-color: #F7F8FA;
    --chat-background-color: #d7ffff;
    --profile-background-color: black;
}
