
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 180px;
    background-color: var(--secondary-color);
    border-right: 1px solid var( --text-color);

}

.sidebarButton{
    background-color: var(--secondary-color) !important;
    border: none!important;
    margin-top: 7px;
    color:var( --text-color);
    font-size: 15px;

}
.sidebar ul {
    list-style: none;
    padding-left: 0;
    color: black;
    margin: 0;
    flex-grow: 1;
}

.active {
    background-color: white!important;
    border: 1px solid white!important;
    border-radius: 20px;
    color: var( --text-color);
}