.items{
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    border-radius: 25px;
    width: 71.5%;
    height: 78%;
    left: 360PX;
    top:115px

}
.items p{
    font-size: 14px;
}
@media (min-width: 1440px) {

    .items {
        width: 70%;
        padding: 30px 30px;
        height: 80%;
        left: 360PX;
        top:120px
    }
    .items p{
        font-size: 18px;
    }

}