@import '~typeface-poppins/index.css';
.outerSidebar {
    width: 300px;
    background-color: var(--background-color);
    padding: 10px 25px 0 25px;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.outerSidebar ul {
    list-style: none;
    padding-left: 0;
    color: black;
    margin: 0;
    flex-grow: 1;
}

.outerSidebar h1 {
    color: var(--profile-background-color);
    margin-top: 0;
    font-family: 'Poppins';
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    font-size: 26px;
}

.outerSidebar li {
    padding: 5px 0;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.sidebarButton {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    text-align: left;
    transition: background-color 0.3s;
    font-family: 'Poppins';

}

.sidebarButton span {
    padding-right: 10px;
}

.sidebarButton svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    color: #333;
}


.logoutButton {
    width:100%;
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 40px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.chatButton {
    border: 1px solid var(--primaryy-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--primaryy-color);
}
.chatButton svg{
    color: var(--primaryy-color);
}

.activeButton {
    background-color: var( --profile-background-color);
    border: 1px solid var(--text-color);
    color :var( --background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.activeIcon {
    color: var(--primary-color);
}

.sidebarButton.activeButton svg {
    color: RGB(0, 204, 204);

}
